{% extends 'base.html' %}

{% block title %}{% block header %}{% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Customer Confirm Pickup</th>
    </tr>
  </thead>
{% for customer in todays_customers %}
  <tr>
    <td>{{customer.name}}</td>
    <td>{{customer.customer_address}}</td>
    <td>{{customer.customer_zip_code}}</td>
    <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Pickup Confirmation
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <form action="{%url 'employees:confirm_pickup' customer.user_id%}" method="get">
      <input class="form-control" type="submit" value="yes" name="confirm_pickup">
      <input class="form-control" type="submit" value="no" name="confirm_pickup">
    </form>
</div>
</div>
    </td>
  </tr>
  {% endfor %}
  </table>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Search By Day
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<form action="{%url 'employees:choose_by_day' %}" method="get">
      <input class="form-control" type="submit" value="Sunday" name="day_of_week">
      <input class="form-control" type="submit" value="Monday" name="day_of_week">
      <input class="form-control" type="submit" value="Tuesday" name="day_of_week">
      <input class="form-control" type="submit" value="Wednesday" name="day_of_week">
      <input class="form-control" type="submit" value="Thursday" name="day_of_week">
      <input class="form-control" type="submit" value="Friday" name="day_of_week">
      <input class="form-control" type="submit" value="Saturday" name="day_of_week">
</form>
</div>
</div>
{% include 'registration/messages.html' %}
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}