{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!
<table>
  <th title="Customers">
         <p>Today's Trash Pickup</p>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Zipcode</th>
    </tr>
  </th>
</table>
{% for customer in todays_customers %}
  <tr>
    <td>{{customer.name}}</td>
    <td>{{customer.customer_address}}</td>
    <td>{{customer.customer_zip_code}}</td>
  </tr>
{% endfor %}
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}